.navbar {
  display: flex;
  flex-direction: row;
  border-bottom: white solid 2px;
  margin-bottom: 1em;

  a {
    flex: auto;
    height: 100%;
    margin-block: auto;
    padding-block: .25em;
    padding-inline: 1em;
  }

  h2 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  .emphasizedRoute {
    h2 {
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
    }
  }

  .selectedRoute {
    box-shadow: inset 0 0 2em 1em rgba(180, 195, 247, 0.2);
  }
}
