.navbar {
  display: flex;
  flex-direction: row;
  gap: 1em;
  border-bottom: white solid 2px;
  margin-bottom: 1em;
  padding-block-start: 1em;
  padding-inline: 1em;

  a {
    flex: auto;
    height: 100%;
    margin-block: auto;
    padding-block: .25em;
    padding-inline: 2em;

    background-color: rgba(180, 195, 247, 0.1);
    border-radius: 1em 1em 0 0;
  }

  h2 {
    font-size: 1.17em;
    line-height: 36px;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  .emphasizedRoute {
    h2 {
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
    }
  }

  .selectedRoute {
    background-color: rgba(180, 195, 247, 0.3);
    border-radius: 1em 1em 0 0;
  }
}
